
<% if @categories.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>カテゴリー検索</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= link_to category.category_name, [:admin,category] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>カテゴリー情報がありません。</p>
<% end %>